.header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo h1 {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
}

.menu-toggle {
  cursor: pointer;
  display: none; /* Hide toggle by default on larger screens */
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.menu-toggle.open .hamburger:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open .hamburger:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .hamburger:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .nav.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    z-index: 1100;
  }

  .menu-toggle .hamburger {
    transition: transform 0.3s ease;
  }
}
